body {
  background-color: lightgray;
}

#start-button{
  display: block;
  margin: 0 100px 0 100px;
}
/*answers  for the test are purple//
//<p class="round3">Roundest border</p>*/

/*.choise {
  color: purple;
  text-align: center;
 border: 2px purple;
    border-radius: 12px;*/


/* high score box should be located on top left corner*/


